<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hata Sayfası</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="error-container">
  <div class="error-icon">
    <i class="fas fa-exclamation-triangle"></i>
  </div>
  <p class="error-message">Üzgünüz, Beklenmedik Bir Hata İle Karşılaştık</p>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
